<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head">
</head>
<body>
<div class="wrapper container">
    <div th:replace="/fragments/top :: top"></div>
    <div class="heading">
        <h2 th:text="${h1name}"></h2>
    </div>
        <div class="col-md-17">
            <form th:action="@{'/order/create'}" name="createOrder" method="post">
                <div class="table-responsive">
                    <table class="table table-hover table-condensed table-bordered">
                    <tr>
                        <label>
                            <td>Текст заявки:</td>
                            <td ><textarea style="width: 50%;" name="applicationText" th:maxlength="512" required="true"></textarea></td>
                        </label>
                    </tr>

                    <tr>
                        <td>Відділ</td>
                        <td>
                            <div class="styled-select">
                            <select name="subdivision">
                                <option
                                        th:each="subdivision : ${subdivisions}"
                                        th:value="${subdivision.id}">
                                    <span th:text="${subdivision.typeSubdivisions?.type}"></span>
                                    <span th:if="${subdivision.name != null }">
                                        <span th:if="${subdivision.name != 9999}" th:text="'- ' + ${subdivision.name}"></span>
                                    </span>
                                    <span th:if="${subdivision.cities?.id != 1}" th:text="'- ' + ${subdivision.cities?.city}"></span>
                                </option>
                            </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" class="btn btn-success btn-sm" name="submit"/></td>
                    </tr>
                </table>
                </div>
            </form>
        </div>
</div>
<div th:replace="/fragments/footer :: footer"></div>
</body>
</html>