<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head">
</head>
<body>
<div class="wrapper container">
    <div th:replace="/fragments/top :: top"></div>
    <div class="heading">
        <h2 th:text="${h1name}"></h2>
    </div>
        <section class="col-md-17">
            <form th:action="@{'/order/edit'}" method="post">
                <div class="table-responsive">
                    <table class="table table-hover table-condensed table-bordered">
                        <tr hidden="hidden">
                            <label>
                                <td>ID:</td>
                                <td>
                                    <select name ="id">
                                    <option th:text="${order.id}" th:value="${order.id}"></option>
                                </select>
                                </td>
                            </label>
                        </tr>
                        <tr>
                            <label>
                                <td>Текст заявки:</td>
                                <td><textarea name="applicationText" th:value="${order.applicationText}" th:text="${order.applicationText}" th:maxlength="256" required="true"></textarea></td>
                            </label>
                        </tr>

                        <tr>
                            <td>Subdivision:</td>
                            <td>
                                <select name="subdivisions">
                                    <option th:text="${order.subdivisions?.name}" th:value="${order.subdivisions?.id}" selected="true"></option>
                                    <option
                                            th:each="subdivision : ${subdivisions}"
                                            th:value="${subdivision.id}">
                                        <span th:text="${subdivision.typeSubdivisions?.type}"></span>
                                        <span th:if="${subdivision.name != null }">
                                        <span th:if="${subdivision.name != 9999}" th:text="'- ' + ${subdivision.name}"></span>
                                    </span>
                                        <span th:if="${subdivision.cities?.id != 1}" th:text="'- ' + ${subdivision.cities?.city}"></span>
                                    </option>
                                </select>
                            </td>
                        </tr>

                    <tr>
                        <td><input type="submit" class="btn btn-success btn-sm" name="submit"/></td>
                    </tr>
                </table>
                </div>
            </form>
        </section>
</div>
<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>