<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head">
</head>
<body>
<div class="wrapper container">
    <div th:replace="/fragments/top :: top"></div>
    <div class="heading">
        <h1 th:text="${h1name}"></h1>
    </div>
    <div class="row">
        <section class="col-md-17">
            <form action="/order/findParam" method="post">
                Surname: <input type="text" name="userId"/>
                Для відділа: <input type="text" name="subdivisionId"/>
                Status: <input type="text" name="status"/>
                день:
                <select name="day">
                    <option value=""></option>
                    <option ></option>
                </select>
                <input type="submit"/>
            </form>
        </section>
    </div>
</div>
<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>