<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head">
</head>
<body>
<div class="wrapper container">
    <div th:replace="/fragments/top :: top"></div>
    <div class="heading">
        <h2 style="margin-left: 5%" th:text="${orders.status.name}"></h2>
    </div>
    <section class="col-md-17">
        <div class="table-responsive">
            <table class="table table-hover table-condensed table-bordered">
                <tr>
                    <td>Текст заявки:</td>
                    <td>
                        <span th:text="${orders.users.surname + ' ' + orders.users.name + ' -'}"></span>
                        <span th:text="${#dates.format(orders.dateOfApplication, 'yyyy-MM-dd HH:mm') + ':'}"></span>
                        <h4>
                            <p style="margin-left: 7%;" th:text="${orders.applicationText}"></p>
                        </h4>
                    </td>
                </tr>
                <tr th:if="${orders.executeBeforeDate != null || orders.executeBeforeDate != ''}">
                    <td>Дата до якої потрібно виконати замовлення:</td>
                    <td>
                        <span th:text="${#dates.format(orders.executeBeforeDate, 'yyyy-MM-dd')}"></span>
                    </td>
                </tr>
                <tr>
                    <td>Коментар:</td>
                    <td>
                        <ul>
                            <li th:each="val : ${orderComments}">
                                <span th:text="${val.users.surname + '-' + #dates.format(val.date, 'yyyy-MM-dd HH:mm') + ': ' + val.comment}"></span>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Виконано:</td>
                    <td th:if="${orders.dateOfCompletion != null}" th:text="${#dates.format(orders.dateOfCompletion, 'yyyy-MM-dd HH:mm')}"></td>
                </tr>
                <tr>
                    <td>Підрозділ, що подав заявку:</td>
                    <td>
                        <span th:text="${orders.users.subdivisions.typeSubdivisions?.type}"></span>
                        <span th:if="${orders.users.subdivisions.name != null }">
                                        <span th:if="${orders.users.subdivisions.name != 9999}" th:text="'- ' + ${orders.users.subdivisions.name}"></span>
                                    </span>
                        <span th:if="${orders.users.subdivisions.cities?.id != 1}" th:text="'- ' + ${orders.users.subdivisions.cities?.city}"></span>
                    </td>
                </tr>
                <tr>
                    <td>Підрозділ, для якого подана заявка:</td>
                    <td>
                        <span th:text="${orders.subdivisions.typeSubdivisions?.type}"></span>
                        <span th:if="${orders.subdivisions.name != null }">
                                        <span th:if="${orders.subdivisions.name != 9999}" th:text="'- ' + ${orders.subdivisions.name}"></span>
                                    </span>
                        <span th:if="${orders.subdivisions.cities?.id != 1}" th:text="'- ' + ${orders.subdivisions.cities?.city}"></span>
                    </td>
                </tr>
                <tr th:if="${session.currUserId != orders.users.id}">
                    <td>Змінити статус/Перенаправити:</td>
                    <td>
                        <div th:switch="${orders.status?.id}">
                            <span th:case="1" th:id="${orders.id}" >
                                <a th:id="${orders.id}" class="btn btn-success btn-sm" th:href="@{'/order/status/'+ ${orders.id} + '/2'}">
                                    <span>Відновити</span>
                                </a>
                            </span>
                            <span th:case="2">
                                <a th:id="${orders.id}" class="btn btn-primary btn-sm" th:href="@{'/order/status/'+ ${orders.id} + '/1'}">
                                    <span>Закрити</span>
                                </a>
                                 <a class="btn btn-success btn-sm" th:href="@{'/order/redirectOrderToSubdivision/'+ ${orders.id}}">Перенаправити</a>
                            </span>
                            <span th:case="3">
                                <a th:id="${orders.id}" class="btn btn-success btn-sm" th:href="@{'/order/status/'+ ${orders.id} + '/2'}">
                                    <span>В роботу</span>
                                </a>
                                <a class="btn btn-success btn-sm" th:href="@{'/order/redirectOrderToSubdivision/'+ ${orders.id}}">Перенаправити</a>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr th:if="${session.currUserId == orders.users.id}">
                    <td>Редагувати/Видалити замовлення:</td>
                    <td>
                        <div th:switch="${orders.status?.id}">
                            <span th:case="1" th:id="${orders.id}" >
                                <span class="btn btn-warning btn-sm">Закрито</span>
                                <a th:id="${orders.id}" class="btn btn-success btn-sm" th:href="@{'/order/status/'+ ${orders.id} + '/2'}">
                                    <span>Відновити</span>
                                </a>
                            </span>
                            <a th:case="2" th:id="${orders.id}" class="btn btn-primary btn-sm" th:href="@{'/order/edit/'+${orders.id}}">
                                <span>Редагувати</span></a>
                            <div th:case="3" >
                                <a th:id="${orders.id}" class="btn btn-success btn-sm" th:href="@{'/order/edit/'+${orders.id}}">
                                    <span>Редагувати</span>
                                </a>
                                <a th:id="${orders.id}" class="btn btn-warning btn-sm" th:href="@{'/order/delete/' + ${orders.id}}">Видалити</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <form th:action="@{'/orderComment/create'}" method="post">
                    <tr>
                        <td>Коментар:</td>
                        <td>
                            <input type="text" name="orderId" th:value="${orders.id}" hidden="hidden" />
                            <textarea style="width: 50%;" name="comment"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="btn btn-success btn-sm" type="submit" />
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </section>
</div>
<div th:replace="/fragments/footer :: footer"></div>
</body>
</html>