<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head">
</head>
<body>
<div class="wrapper container">
    <div th:replace="/fragments/top :: top"></div>
    <div class="heading">
        <h2 th:text="${h1name}"></h2>
    </div>

        <!--<div th:replace="/fragments/leftnavbar :: left_panel"></div>-->
        <section class="col-md-17">
            <form th:action="@{'/admin/subdivision/createSubdivision'}" name="createSubdivision" method="post">
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed table-bordered">
                        <tr>
                            <label>
                                <td>Назва:</td>
                                <td><input type="text" name="name" id="name" th:maxlength="20" required="true"/></td>
                            </label>
                        </tr>

                        <tr>
                            <label>
                                <td>Адреса:</td>
                                <td><input type="text" name="address" value="" th:maxlength="20" required="true"/></td>
                            </label>
                        </tr>

                        <tr>
                            <label>
                                <td>Телефон:</td>
                                <td><input type="tel" name="telephone" value=""  th:minlength="8" th:maxlength="13" required="true"/></td>
                            </label>
                        </tr>

                        <tr>
                            <td><input type="submit" class="btn btn-success btn-sm"/></td>
                        </tr>
                    </table>
                    </div>
            </form>
        </section>
</div>
<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>