<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head">
</head>
<body>
<div class="container">
    <div th:replace="/fragments/top :: top"></div>
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Редагувати відділ</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form th:action="@{'/admin/subdivision/editSubdivision'}" method="post">
                                <select name="id" hidden="hidden">
                                    <option th:text="${subdivision.id}"></option>
                                </select>
                                <div class="form-group row">
                                    <label for="name" class="col-4 col-form-label">Назва(якщо у відділа не має числової назви вводити число -> 9999)</label>
                                    <div class="col-8">
                                        <span style="color: red;" th:text="${err}"></span>
                                        <input id="name" type="number" name="name" th:value="${subdivision.name}" placeholder="назва" class="form-control here" required="required"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="address" class="col-4 col-form-label">Адреса</label>
                                    <div class="col-8">
                                        <span style="color: red;" th:text="${err}"></span>
                                        <input id="address" type="text" name="address" th:value="${subdivision.address}" placeholder="адреса" class="form-control here" required="required"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="telephone" class="col-4 col-form-label">Телефон</label>
                                    <div class="col-8">
                                        <span style="color: red;" th:text="${err}"></span>
                                        <input id="telephone" type="text" name="telephone" th:value="${subdivision.telephone}" placeholder="телефон" class="form-control here" required="required"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="cities" class="col-4 col-form-label">Місто/н.п</label>
                                    <div class="col-8">
                                        <select name="cities" id="cities">
                                            <option th:text="${subdivision.cities.city}" th:value="${subdivision.cities.id}" selected="selected">
                                            </option>
                                            <option th:each="city : ${cities}"
                                            th:value="${city.id}" th:text="${city.city}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="typeSubdivisions" class="col-4 col-form-label">Тип відділа</label>
                                    <div class="col-8">
                                        <select name="typeSubdivisions" id="typeSubdivisions">
                                            <option th:text="${subdivision.typeSubdivisions.type}" th:value="${subdivision.typeSubdivisions.id}" selected="selected">
                                            </option>
                                            <option th:each="typeSubdivision : ${typeSubdivisions}"
                                                    th:value="${typeSubdivision.id}" th:text="${typeSubdivision.type}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-4 col-8">
                                        <button name="submit" type="submit" class="btn btn-primary">Обновити відділ</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div th:replace="/fragments/footer :: footer"></div>
</div>
</body>
</html>