<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head">
</head>
<body>
<div class="wrapper container">
    <div th:replace="/fragments/top :: top"></div>
    <div class="heading">
        <h2 th:text="${h1name}"></h2>
    </div>
        <section class="col-md-17">
        <div class="divTable redTable table-responsive">
            <div class="divTableHeading">
                <div class="divTableRow">
                    <div class="divTableHead">Id</div>
                    <div class="divTableHead">Назва</div>
                </div>
            </div>
            <div class="divTableBody">
                <div class="divTableRow" th:each="user : ${users}">
                    <div th:text="${manufacturer.id}" class="divTableCell">cell2_1</div>
                    <div th:text="${manufacturer.name}" class="divTableCell">cell3_1</div>
                    <div class="divTableCell">
                        <button type="button" class="btn btn-warning btn-sm" th:onclick="${'userEdit('+ user.id +')'}">Edit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="redTable outerTableFooter"><div class="tableFootStyle"><div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a>
        </div>
        </div>
        </div>
        </section>
</div>
<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>