<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head">
</head>
<body>
<div class="wrapper container">
    <div th:replace="/fragments/top :: top"></div>
    <div class="heading">
        <h2 th:text="${h1name}"></h2>
    </div>
    <div class="col-md-17">
        <div class="divTable redTable">
            <div class="divTableHeading">
                <div class="divTableRow">
                    <div class="divTableHead">Номер машини</div>
                    <div class="divTableHead">Категорія тз.</div>
                    <div class="divTableHead">Бренд</div>
                    <div class="divTableHead">Модель</div>
                </div>
            </div>
            <div class="divTableBody">
                <div class="divTableRow" th:each="car : ${cars}">
                    <div class="divTableCell">
                        <a th:href="@{'/transportOrder/editCar/' + ${car.id}}">
                            <span th:text="${car.carNumber}"></span>
                        </a>
                    </div>
                    <div th:text="${car.vehicleCategory}" class="divTableCell">cell3_1</div>
                    <div th:text="${car.brand}" class="divTableCell">cell3_1</div>
                    <div th:text="${car.model}" class="divTableCell">cell3_1</div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div th:replace="/fragments/footer :: footer"></div>
</div>
</body>
</html>