<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head">
</head>
<body>
<div class="wrapper container">
    <div th:replace="/fragments/top :: top"></div>
    <div class="heading">
        <h2 th:text="${h1name}"></h2>
    </div>
        <section class="col-md-17">
            <form th:action="@{'/admin/user/editFromAll'}" method="post">
                <div class="table-responsive">
                    <table class="table table-hover table-condensed table-bordered">
                        <tr hidden="hidden">
                            <td>ID:</td>
                            <td>
                                <select name="id">
                                    <option th:value="${users.id}" th:text="${users.id}"></option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <label>
                                <td>Логін:</td>
                                <td><input type="text" name="username" th:value="${users.username}" th:maxlength="20" required="true"/></td>
                            </label>
                        </tr>

                        <tr>
                            <label>
                                <td>Пароль:</td>
                                <td><input type="password" name="password" placeholder="*********" th:minlength="4" th:maxlength="50" required="true"/></td>
                            </label>
                        </tr>

                        <tr>
                            <label>
                                <td>Ім'я:</td>
                                <td><input type="text" name="name" th:value="${users.name}" th:maxlength="20" required="true"/></td>
                            </label>
                        </tr>

                        <tr>
                            <label>
                                <td>Прізвище:</td>
                                <td><input type="text" name="surname" th:value="${users.surname}" th:maxlength="20" required="true"/></td>
                            </label>
                        </tr>

                        <tr>
                            <label>
                                <td>Телефон:</td>
                                <td><input type="tel" name="telephone" th:value="${users.telephone}" th:minlength="8" th:maxlength="13" required="true"/></td>
                            </label>
                        </tr>

                        <tr>
                            <td>Відділ:</td>
                            <td>
                                <select name="subdivision">
                                    <option th:text="${users.subdivisions?.name}" th:value="${users.subdivisions?.id}" selected="true"></option>
                                    <option
                                            th:each="subdivision : ${subdivisions}"
                                            th:value="${subdivision.id}">
                                        <span th:text="${subdivision.typeSubdivisions?.type}"></span>
                                        <span th:if="${subdivision.name != null }">
                                            <span th:if="${subdivision.name != 9999}" th:text="'- ' + ${subdivision.name}"></span>
                                        </span>
                                        <span th:if="${subdivision.cities?.id != 1}" th:text="'- ' + ${subdivision.cities?.city}"></span>
                                    </option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>Роль:</td>
                            <td>
                                <select name="role">
                                    <option
                                            th:each="role : ${roles}"
                                            th:text="${role.name}"
                                            th:value="${role.id}">
                                    </option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td><input type="submit" class="btn btn-success btn-sm" name="submit"/></td>
                        </tr>
                    </table>
                </div>
            </form>
        </section>
</div>
<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>