<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head">
</head>
<body>
<!--<div class="wrapper container">-->
    <!--<div th:replace="/fragments/top :: top"></div>-->
    <!--<div class="heading">-->
        <!--<h2 th:text="${h1name}"></h2>-->
    <!--</div>-->
        <!--<section class="col-md-17">-->
            <!--<form th:action="@{'/user/edit'}" name="editUser" method="post">-->
                <!--<div class="table-responsive">-->
                    <!--<table class="table table-hover table-condensed table-bordered">-->
                        <!--<tr hidden="hidden">-->
                            <!--<td>ID:</td>-->
                            <!--<td>-->
                                <!--<select name="id">-->
                                    <!--<option th:value="${users.id}" th:text="${users.id}"></option>-->
                                <!--</select>-->
                            <!--</td>-->
                        <!--</tr>-->

                        <!--<tr>-->
                            <!--<label>-->
                                <!--<td>Логін:</td>-->
                                <!--<td>-->
                                    <!--<input type="text" name="username" th:value="${users.username}" th:maxlength="20" required="true"/>-->
                                    <!--<span style="color: red;" th:text="${err}"></span>-->
                                <!--</td>-->
                            <!--</label>-->
                        <!--</tr>-->

                        <!--<tr>-->
                            <!--<label>-->
                                <!--<td>Пароль:</td>-->
                                <!--<td><input type="password" name="password" placeholder="********" th:minlength="8" th:maxlength="50" required="true"/></td>-->
                            <!--</label>-->
                        <!--</tr>-->

                        <!--<tr>-->
                            <!--<label>-->
                                <!--<td>Ім'я:</td>-->
                                <!--<td><input type="text" name="name" th:value="${users.name}" th:maxlength="20" required="true"/></td>-->
                            <!--</label>-->
                        <!--</tr>-->

                        <!--<tr>-->
                            <!--<label>-->
                                <!--<td>Прізвище:</td>-->
                                <!--<td><input type="text" name="surname" th:value="${users.surname}" th:maxlength="20" required="true"/></td>-->
                            <!--</label>-->
                        <!--</tr>-->

                        <!--<tr>-->
                            <!--<label>-->
                                <!--<td>Телефон:</td>-->
                                <!--<td><input type="tel" name="telephone" th:value="${users.telephone}" th:minlength="8" th:maxlength="13" required="true"/></td>-->
                            <!--</label>-->
                        <!--</tr>-->

                        <!--<tr>-->
                            <!--<td><input type="submit" class="btn btn-success btn-sm" name="submit"/></td>-->
                        <!--</tr>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</form>-->
        <!--</section>-->
<!--</div>-->
<div class="container">
    <div th:replace="/fragments/top :: top"></div>
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Редагувати профіль</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form th:action="@{'/user/edit'}" name="editUser" method="post">
                                <div class="form-group row">
                                    <label for="username" class="col-4 col-form-label">Логін*</label>
                                    <div class="col-8">
                                        <span style="color: red;" th:text="${err}"></span>
                                        <input id="username" name="username" th:value="${users.username}"  placeholder="Username" class="form-control here" required="required" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="name" class="col-4 col-form-label">Ім'я</label>
                                    <div class="col-8">
                                        <input id="name" name="name" placeholder="First Name" th:value="${users.name}" class="form-control here" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="surname" class="col-4 col-form-label">Прізвище</label>
                                    <div class="col-8">
                                        <input id="surname" name="surname" placeholder="Прізвище" th:value="${users.surname}" class="form-control here" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="telephone" class="col-4 col-form-label">Телефон*</label>
                                    <div class="col-8">
                                        <input id="telephone" name="telephone" placeholder="телефон" th:value="${users.telephone}" class="form-control here" required="required" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="newpass" class="col-4 col-form-label">Новий пароль</label>
                                    <div class="col-8">
                                        <input id="newpass" name="password" placeholder="Новий пароль" class="form-control here" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-4 col-8">
                                        <button name="submit" type="submit" th:minlength="4" class="btn btn-primary">Обновити профіль</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>