<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/fragments/header :: head">
</head>
<body>
<div class="wrapper container">
    <div th:replace="/fragments/top :: top"></div>
    <div class="heading">
        <h2 th:text="${h1name}"></h2>
    </div>
        <!--<div th:replace="/fragments/leftnavbar :: left_panel"></div>-->
        <section class="col-md-17">
            <div class="table-responsive">
                <table class="table table-hover table-condensed table-bordered">
                <tr>
                    <label>
                        <td>Login:</td>
                        <td th:text="${users.username}"></td>
                    </label>
                </tr>

                <tr>
                    <label>
                        <td>Name:</td>
                        <td th:text="${users.name}"></td>
                    </label>
                </tr>

                <tr>
                    <label>
                        <td>Surname:</td>
                        <td th:text="${users.surname}"></td>
                    </label>
                </tr>

                <tr>
                    <label>
                        <td>telephone :</td>
                        <td th:text="${users.telephone}"></td>
                    </label>
                </tr>

                <tr>
                    <td>Відділ</td>
                    <td>
                        <span th:text="${users.subdivisions.typeSubdivisions?.type}"></span>
                        <span th:if="${users.subdivisions.name != null }">
                                    <span th:if="${users.subdivisions.name != 9999}" th:text="'- ' + ${users.subdivisions.name}"></span>
                                </span>
                        <span th:if="${users.subdivisions.cities?.id != 1}" th:text="'- ' + ${users.subdivisions.cities?.city}"></span>
                    </td>
                </tr>
            </table>
            </div>
        </section>
</div>
<div th:replace="/fragments/footer :: footer"></div>
</body>
</html>