<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 sitemap">
                <h3>Sitemap</h3>
                <div class="row">
                    <div class="col-md-12">
                        <a href="/home/">Home</a>
                        <a href="/about/">About</a>
                        <a href="/services/">Services</a>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-8 footer-logo">-->
                <!--<p>-->
                    <!--<a href="http://www.konex.com.ua">Konex</a> creation-->
                <!--</p>-->
            <!--</div>-->
        </div>
    </div>

    <script th:src="@{'/js/jquery.js'}" ></script>
    <script th:src="@{'/js/js.js'}" ></script>
    <script th:src="@{'/js/bootstrap.min.js'}"></script>
    <script th:src="@{'/js/bootstrap.bundle.min.js'}"></script>
</footer>