<footer>
    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <h3 class="footer_h3">Особистий кабінет</h3>
            </div>

            <div class="col-sm-4">
                <h3 class="footer_h3">FAQs</h3>
            </div>

            <div class="col-sm-4">
                <h3 class="footer_h3">Зв'яжіться з нами</h3>
            </div>
            <div class="col-sm-4">
                <a href="http://tomcat.konex.com.ua/konex24-online/home"><h3 class="footer_h3">Konex24</h3></a>
            </div>
            <div class="col-sm-4">
                <a href="https://www.facebook.com/konex.com.ua/?ref=hl"><h3 class="footer_h3">Facebook</h3></a>
            </div>

            <div class="col-sm-4">
                <a href="https://www.youtube.com/channel/UC0lessp4jUCjLMi5Hxwxl6A"><h3 class="footer_h3">YOUTUBE</h3></a>
            </div>

        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <p>© Copyright   2018. All rights reserved</p>
            </div>
        </div>
    </div>

    <script th:src="@{'/js/jquery.js'}" ></script>
    <script th:src="@{'/js/js.js'}" ></script>
    <script th:src="@{'/js/bootstrap.min.js'}"></script>
    <!--<script th:src="@{'/js/bootstrap.bundle.min.js'}"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</footer>


<!--</footer>-->