<!--<left_panel>-->
        <!--<aside class="col-md-7">-->
            <!--<ul class="list-group submenu">-->
                <!--<li th:each="btns : ${button}">-->
                    <!--<a th:href="${btns.url}" th:text="${btns.name}"></a>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<div class="panel panel-primary">-->
                <!--<div class="panel-heading">Our offices</div>-->
                <!--<div class="panel-body">-->
                    <!--<p>Адреса:</p>-->
                    <!--<p>Україна, м. Вінниця, вул. Київська, 136-Г</p>-->
                    <!--<p>E-mail: kontika@utel.net.ua</p>-->
                    <!--<p>Приймальна директора:</p>-->
                    <!--<p>(0432) 55-30-50</p>-->
                    <!--<p>Багатоканальний:</p>-->
                    <!--<p>(0432) 55-30-55</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</aside>-->
<!--</left_panel>-->
