<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head">
</head>
<body>
<div class="wrapper container">
    <div th:replace="/fragments/top :: top"></div>
    <div class="heading">
        <h2 th:text="${h1name}"></h2>
    </div>
    <section class="col-md-17">
        <form action="/transportOrder/addToTravel" method="post">
            <div class="table-responsive">
                <table class="table table-hover table-condensed table-bordered">
                    <tr>
                        <td>Населений пункт</td>
                        <td>
                            <select name ="cityId">
                                <option th:each="city : ${city}" th:value="${city.cities.id}"
                                        th:text="${city.cities.city}" >
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Коментар</td>
                        <td>
                            <textarea name="comment"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit"/></td>
                    </tr>
                    <input type="text" name="transportOrderId" th:value="${transportOrderId}" hidden="hidden" />
                </table>
            </div>
        </form>
    </section>
</div>
<div th:replace="/fragments/footer :: footer"></div>
</body>
</html>