<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head">
</head>
<body>
<div class="wrapper container">
    <div th:replace="/fragments/top :: top"></div>
    <div class="heading">
        <h2 th:text="${h1name}"></h2>
    </div>
        <div class="col-md-17">
            <form th:action="@{'/assignment/create'}" method="post">
                <div class="table-responsive">
                    <table class="table table-hover table-condensed table-bordered">
                        <tr>
                            <td>Відділ відрядження:</td>
                            <td>
                                <select name ="subdivision">
                                    <option th:each="subdivision : ${subdivisions}" th:value="${subdivision.id}">
                                        <span th:text="${subdivision.typeSubdivisions?.type}"></span>
                                        <span th:if="${subdivision.name != null }">
                                            <span th:if="${subdivision.name != 9999}" th:text="'- ' + ${subdivision.name}"></span>
                                        </span>
                                        <span th:if="${subdivision.cities?.id != 1}" th:text="'- ' + ${subdivision.cities?.city}"></span>
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Населені пункти які будуть проїжати:</td>
                            <td>
                                <select name ="cities" multiple="true">
                                    <option th:each="city : ${cities}" th:value="${city.id}"
                                    th:text="${city.city}" >
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Дата виїзду:</td>
                            <td><input type="date" th:min="${minDate}" name="date" required="true"/>
                                <input type="time" name="time" required="true"/></td>
                        </tr>
                        <tr>
                            <td>Коментар:</td>
                            <td><textarea type="text" name="comment" id="comment" th:maxlength="256" required="true"></textarea></td>
                        </tr>

                        <tr>
                            <td><input class="btn btn-success btn-sm" type="submit" name="submit"/></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
</div>
<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>